<template id="coralite-app">
  <div ref="loginView">
    <coralite-login></coralite-login>
  </div>
  
  <div ref="appView" class="d-none">
    <coralite-app-layout></coralite-app-layout>
  </div>
</template>

<script type="module" client>
  import { defineComponent } from 'coralite'

  export default defineComponent({
    client: {
      imports: [
        { specifier: 'coralite-component/coralite-login' },
        { specifier: 'coralite-component/coralite-app-layout' }
      ],
      script: ({ root, helpers }) => {
        const loginView = helpers.refs('loginView')
        const appView = helpers.refs('appView')

        helpers.on(helpers.events().APP_LOGGED_IN, () => {
          // Toggle visibility natively using Coralite ref references
          if (appView) {
            appView.classList.remove('d-none')
          }
          if (loginView) {
            loginView.classList.add('d-none')
          }
        })
      }
    }
  })
</script>