<template id="atoll-app">
  <div ref="loginView" id="{{ ref_loginView }}" class="d-none">
    <atoll-login></atoll-login>
  </div>

  <div ref="signupView" id="{{ ref_signupView }}" class="d-none">
    <atoll-signup></atoll-signup>
  </div>
  
  <div ref="appView" id="{{ ref_appView }}" class="d-none">
    <atoll-app-layout></atoll-app-layout>
  </div>
</template>

<script type="module" client>
  import { defineComponent } from 'coralite'

  export default defineComponent({
    client: {
      async script ({ helpers }) {
        const { refs, on, events, restoreSession, emit } = helpers
        const loginView = refs('loginView')
        const signupView = refs('signupView')
        const appView = refs('appView')
        
        on(events('auth:show-signup'), () => {
          if (loginView) loginView.classList.add('d-none')
          if (appView) appView.classList.add('d-none')
          if (signupView) signupView.classList.remove('d-none')
        })

        on(events('auth:show-login'), () => {
          if (signupView) signupView.classList.add('d-none')
          if (appView) appView.classList.add('d-none')
          if (loginView) loginView.classList.remove('d-none')
        })

        on(events('app:logged-in'), () => {
          if (loginView) loginView.classList.add('d-none')
          if (signupView) signupView.classList.add('d-none')
          if (appView) appView.classList.remove('d-none')
        })

        on(events('app:logged-out'), () => {
          if (appView) appView.classList.add('d-none')
          if (signupView) signupView.classList.add('d-none')
          if (loginView) loginView.classList.remove('d-none')
        })

        const isRestored = await restoreSession() 
        
        if (isRestored) {
          // Session found! Go straight to the app
          emit(events('app:logged-in'))
        } else {
          // No session found. Reveal the login screen.
          loginView.classList.remove('d-none')
        }
      }
    }
  })
</script>