<template id="atoll-app">
  <div ref="loginView" class="d-transition-none">
    <atoll-login></atoll-login>
  </div>

  <div ref="signupView" class="d-transition-none">
    <atoll-signup></atoll-signup>
  </div>
  
  <div ref="appView" class="d-transition-none">
    <atoll-app-layout></atoll-app-layout>
  </div>
</template>

<script type="module" client>
import { defineComponent } from 'coralite'
export default defineComponent({
  client: {
    async script ({
      helpers
    }) {
      const {
        refs: references,
        subscribe,
        setState,
        restoreSession
      } = helpers

      const loginView = references('loginView')
      const signupView = references('signupView')
      const appView = references('appView')
      subscribe('triggerShowSignup', (payload) => {
        if (!payload) {
          return
        }
        if (loginView) {
          loginView.classList.remove('d-transition-show')
          loginView.classList.add('d-transition-none')
        }
        if (appView) {
          appView.classList.remove('d-transition-show')
          appView.classList.add('d-transition-none')
        }
        if (signupView) {
          signupView.classList.remove('d-transition-none')
          signupView.classList.add('d-transition-show')
        }
      })
      subscribe('triggerShowLogin', (payload) => {
        if (!payload) {
          return
        }
        if (signupView) {
          signupView.classList.remove('d-transition-show')
          signupView.classList.add('d-transition-none')
        }
        if (appView) {
          appView.classList.remove('d-transition-show')
          appView.classList.add('d-transition-none')
        }
        if (loginView) {
          loginView.classList.remove('d-transition-none')
          loginView.classList.add('d-transition-show')
        }
      })
      subscribe('isLoggedIn', (isLoggedIn) => {
        if (isLoggedIn === undefined) {
          return
        }
        if (isLoggedIn) {
          if (loginView) {
            loginView.classList.remove('d-transition-show')
            loginView.classList.add('d-transition-none')
          }
          if (signupView) {
            signupView.classList.remove('d-transition-show')
            signupView.classList.add('d-transition-none')
          }
          if (appView) {
            appView.classList.remove('d-transition-none')
            appView.classList.add('d-transition-show')
          }
        } else {
          if (appView) {
            appView.classList.remove('d-transition-show')
            appView.classList.add('d-transition-none')
          }
          if (signupView) {
            signupView.classList.remove('d-transition-show')
            signupView.classList.add('d-transition-none')
          }
          if (loginView) {
            loginView.classList.remove('d-transition-none')
            loginView.classList.add('d-transition-show')
          }
        }
      })
      const isRestored = await restoreSession()
      if (isRestored) {
        const isUnlocked = helpers.crypto().isVaultUnlocked()
        if (!isUnlocked) {
          const pin = prompt('Session restored, but Vault is locked. Please enter your PIN or Password to unlock your Vault.')
          if (pin) {
            try {
              await helpers.crypto().unlockWithPin(pin)
              setState('isLoggedIn', true)
            } catch (error) {
              alert('Invalid PIN. Logging out.')
              await helpers.crypto().lockApp()
              setState('isLoggedIn', false)
            }
          } else {
            await helpers.crypto().lockApp()
            setState('isLoggedIn', false)
          }
        } else {
          setState('isLoggedIn', true)
        }
      } else {
        // No session found. Reveal the login screen.
        setState('isLoggedIn', false)
      }
    }
  }
})
</script>