<template id="coralite-app">
  <div ref="loginView" class="d-none">
    <coralite-login></coralite-login>
  </div>

  <div ref="signupView" class="d-none">
    <coralite-signup></coralite-signup>
  </div>
  
  <div ref="appView" class="d-none">
    <coralite-app-layout></coralite-app-layout>
  </div>
</template>

<script type="module" client>
  import { defineComponent } from 'coralite'

  export default defineComponent({
    client: {
      async script ({ helpers }) {
        const { refs, on, events, restoreSession } = helpers
        const loginView = refs('loginView')
        const signupView = refs('signupView')
        const appView = refs('appView')
        const isRestored = await restoreSession() 
        
        if (isRestored) {
          // Session found! Go straight to the app
          emit(events('app:logged-in'))
        } else {
          // No session found. Reveal the login screen.
          loginView.classList.remove('d-none')
        }

        on(events('auth:show-signup'), () => {
          if (loginView) loginView.classList.add('d-none')
          if (appView) appView.classList.add('d-none')
          if (signupView) signupView.classList.remove('d-none')
        })

        on(events('auth:show-login'), () => {
          if (signupView) signupView.classList.add('d-none')
          if (appView) appView.classList.add('d-none')
          if (loginView) loginView.classList.remove('d-none')
        })

        on(events('app:logged-in'), () => {
          if (loginView) loginView.classList.add('d-none')
          if (signupView) signupView.classList.add('d-none')
          if (appView) appView.classList.remove('d-none')
        })

        on(events('app:logged-out'), () => {
          if (appView) appView.classList.add('d-none')
          if (signupView) signupView.classList.add('d-none')
          if (loginView) loginView.classList.remove('d-none')
        })
      }
    }
  })
</script>